@{
    ViewData["Title"] = "Detail";
    string isDeleted = (string)TempData["isDeleted"];
    string word = (string)TempData["searchWord"];
}

@model ContactEditDto


<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="right-box-padding">
                                                <div class="read-content">
                                                    <div class="media pt-3 d-sm-flex d-block justify-content-between">
                                                        <div class="clearfix mb-3 d-flex">
                                                            <img class="me-3 rounded" width="70" height="70" alt="image" src="~/manage/images/avatar/4.jpg">
                                                            <div class="media-body me-2">
                                                                <h5 class="text-primary mb-0 mt-1">@Model.Name</h5>
                                                                <p class="mb-0">@Model.CreatedAt.ToString("dd MMMM yyyy")</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="media mb-2 mt-3">
                                                        <div class="media-body">
                                                            <p class="read-content-email">
                                                                Email : @Model.Email
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="read-content-body">
                                                        @Html.Raw(Model.Message)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
