@model List<Courier>


<div class="bootstrap-modal">
    <div class="modal fade" id="exampleModalCenter" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Kuryerlər</h5>
                </div>
                <div class="modal-body">
                    @if (Model != null)
                    {
                        <select class="form-control" form="courierform">
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.CourierPerson.Name @item.CourierPerson.Surname</option>
                            }
                        </select>
                        @*<select class="form-control" form="courierform" asp-for="Model" asp-items="@new SelectList((List<Courier>)ViewBag.Couriers,nameof(Courier.Id),nameof(Courier.CourierPerson.Name))"></select>*@
                    }
                    else
                    {
                        <div>
                            Sistemdə heç bir kuryer yoxdu   
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Bağla</button>
                    <form method="post" id="courierform">
                        <button asp-action="detail" class="btn btn-primary">Dəyişikli yadda saxla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
