@{
    ViewData["Title"] = "Edit";
}

@model SliderEditDto


<div class="content-body" style="min-height: 876px;" bis_skin_checked="1">

    <div class="row mb-2">
        <div class="col-sm-12" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
            <h1>Slider'i Dəyiş</h1>
        </div>
    </div>
    
    <!-- row -->
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tənzimləmələr</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post" enctype="multipart/form-data">
                              
                                <div class="mb-3">
                                    <label asp-for="Title" class="form-label">Başlıq</label>
                                    <input asp-for="Title" class="form-control input-rounded" placeholder="boşluq...">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="mb-3 image-box">
                                    <label asp-for="FormFile" class="form-label">Şəkil</label>
                                    <input asp-for="FormFile" class="form-control file input-rounded" placeholder="boşluq...">
                                    <img src="@Model.Image" style="width:150px;height:150px;object-fit:cover;margin:20px 0px;" />
                                </div>

                                <input name="id" type="hidden" value="@Model.Id" />

                                <button type="submit" class="btn btn-outline-dark my-3">Qeyd et</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/manage/main.js"></script>
}
