@{
    ViewData["Title"] = "Edit";
}

@model Setting

@{
    string imagePath = (string)TempData["ImagePath"];
}

<div class="content-body" style="min-height: 876px;" bis_skin_checked="1">

    <div class="row mb-2">
        <div class="col-sm-12" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
            <h1>Tənzimləməni'i Dəyiş</h1>
        </div>
    </div>
    
    <!-- row -->
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tənzimləmələr</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post" enctype="multipart/form-data">

                                <input asp-for="Key" type="hidden" class="form-control">

                                <div class="d-flex justify-content-center align-items-center">
                                    <h5><span style=" font-size: 22px; font-weight: 500; color: red;">Açar :</span> @Model.Key</h5>
                                </div>

                                @if (Model.Key.Contains("image"))
                                {
                                    <input asp-for="Value" type="hidden" class="form-control">
                                    <div class="mb-3">
                                        <label asp-for="FormFile" class="form-label">Şəkil</label>
                                        <input asp-for="FormFile" class="form-control img-upload-input file">
                                        <span class="text-danger" asp-validation-for="FormFile"></span>
                                    </div>
                                    <div class="image-box d-flex justify-content-center align-items-center">
                                        <img src="@(imagePath + Model.Value)" style="width:400px;height:400px;object-fit:cover;" />
                                    </div>
                                }else if (Model.Key.Contains("textbox"))
                                {
                                    <div class="mb-3">
                                        <label asp-for="Value" class="form-label">Dəyər</label>
                                        <textarea asp-for="Value" class="form-control" id="editor" rows="3"></textarea>
                                        <span class="text-danger" asp-validation-for="Value"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="mb-3">
                                        <label asp-for="Value" class="form-label">Dəyər</label>
                                        <input asp-for="Value" class="form-control">
                                        <span class="text-danger" asp-validation-for="Value"></span>
                                    </div>
                                }

                                <input name="id" type="hidden" value="@Model.Id" />

                                <button type="submit" class="btn btn-outline-dark my-3">Qeyd et</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="~/manage/main.js"></script>
}
